$color-action: #2DA84F;

$color-primary: #203548;
$color-primary-reverse: #FFFFFF;
$color-secondary: #687A8B;
$color-tertiary: #8DA0B2;
$color-stroke: #DCDFE1;

$color-orange-dark: #F2724A;
$color-orange: #FFD0A9;

$color-background: #FAF8F9;
