$margin-step: 16px;
$navbar-height: 72px;
$border-radius: 2px;

.mb-05 {
    margin-bottom: $margin-step / 2;
}

.mb-1 {
    margin-bottom: $margin-step;
}

.mb-2 {
    margin-bottom: $margin-step * 2;
}

@mixin tag-shape() {
    padding: ($margin-step / 4) ($margin-step / 2);
    border-radius: $border-radius;
}

.flex {
    display: flex;
}

body {
 //    background: url('../../assets/images/')
}