@import "colors";
@import "layout";
@import "typography";

.assistant-container {
    margin-top: $navbar-height + ($margin-step * 4);
}

.form-column {
    > .champ + .champ {
        margin-top: $margin-step * 2;
    }
}


.section-title {
    @extend .h3-style;
    color: $color-primary;
    margin-bottom: $margin-step * 2;
}




.instrument-select {
    margin-left: $margin-step * 2;
}

.ui.selection.dropdown,
.ui.dropdown .menu > .item {
    display: flex;
    align-items: center;
    padding-left: $margin-step / 2 !important;
    padding-right: $margin-step / 2 !important;
    @extend .medium-400-style;

    input.search {
        padding-left: 40px;
    }

    img,
    > img,
    > .image {
        width: 24px;
        height: 24px;
        margin-right: $margin-step / 2;
    }

    .text {
        display: flex;
        align-items: center;
        color: $color-primary;
    }

    .addition-label {
        display: inline-flex;
        align-items: center;
        margin-right: $margin-step / 2;
    }
}

.ui.dropdown .menu > .item {
    .addition-label {
        @extend .medium-500-style;
        color: $color-action;
    }
}

.ui.selection.dropdown input {
    @extend .medium-400-style;
    color: $color-primary;
}

.ui.selection.dropdown .addition-label {
    @extend .medium-400-style;
    color: $color-tertiary;
}

.add-musician-dropdown {
    margin-top: $margin-step * 4;
}

.instrument-form {
    padding-left: 16px;
    border-left: 4px $color-underground solid;
}

.ui.radio,
.ui.checkbox.radio,
.ui.checkbox {
    margin-bottom: $margin-step;
    @extend .medium-400-style;

    input {
        margin-right: $margin-step;
    }

    input:checked,
    input:focus:checked {
        ~ label:after {
            background-color: #2DA84F;
        }
    }

    label {
        padding-left: $margin-step * 2;
    }
}

.ui.radio.checkbox {
    input[type='radio'] {
        left: 0px;
    }
}

.instrument-divider {
    margin: ($margin-step * 4) 0;
    height: 1px;
    width: 100%;
    background-color: $color-stroke;
}

.pochette {
    .create-link {
        color: $pochette-color-link;

        &:hover {
            color: $pochette-color-link-hover;
        }
    }

    .ui.dropdown .menu > .item {
        .addition-label {
            color: $pochette-color-link;
        }
    }

    .ui.checkbox,
    .ui.radio.checkbox {
        input:checked,
        input:focus:checked {
            ~ label:after {
                background-color: $pochette-color-link;
            }
        }
    }
}


