@import "../colors";
@import "../typography";

.ui.medium.button.is-success {
	&.pochette {
		background-color: $pochette-color-link;
	}

	&.relatif {
		// position: relative;
		float: right;
		margin: 0px 10px 10px 0px;
	}
}

.medium-500.register {
	cursor: pointer;
	font-weight: bold;
	bottom: 20px;
	color: $smartsplit-color-link;
	&.pochette {
		color: $pochette-color-link;
	}
}

.medium-400.not-yet {
	font-weight: normal;
	color: #687a8b;
}

.motdepasse-oublie {
	cursor: pointer;
	font-weight: bold;
	color: $smartsplit-color-link;
	&.pochette {
		color: $pochette-color-link;
	}
}

.connexion {
	color: $smartsplit-color-link;
	cursor: pointer;
	bottom: 30px;
	&.pochette {
		color: $pochette-color-link;
	}
}

.connexion-inscription {
	color: $smartsplit-color-link;
	cursor: pointer;
	&.pochette {
		color: $pochette-color-link;
	}
}

.connexion > img {
	position: absolute;
    left: 510px;
}

.error {
	color: red;
    position: absolute;
    font-size: 14px;
}
