@import '../colors';
@import '../layout';
@import '../typography';

.ui.button,
.ui.button:focus {
    padding: ($margin-step/2) $margin-step;
    border-radius: 2px;

    background-color: $smartsplit-color-link;
    color: white;

    @extend .medium-500-style;
}

.pochette {
    .ui.button,
    .ui.button:focus {
        background-color: $pochette-color-link;
    }
}

