@import "../colors";
@import "../layout";
@import "../typography";

.ui.form input[type="text"] {
    @extend .medium-400-style;
}

.ui.form input[type="text"]::placeholder {
    @extend .medium-400-style;
    color: $color-tertiary;
}

.ui.dropdown .default.text {
    font-weight: normal;
}

.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text {
    @extend .medium-500-style;
    font-weight: normal;
    color: $color-tertiary;
}


