@import "../colors";
@import "../layout";
@import "../typography";

.ui.form input[type="text"]::placeholder {
    @extend .medium-500-style;
    font-weight: normal;
    color: $color-tertiary;
}

.ui.dropdown .default.text {
    font-weight: normal;
}

.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text {
    @extend .medium-500-style;
    font-weight: normal;
    color: $color-tertiary;
}

.input-title {
    margin-bottom: $margin-step;
}

.input-label {
    @extend .medium-500-style;
    color: $color-primary;
}

.input-description {
    @extend .medium-400-style;
    color: $color-secondary;
}

