@import '../layout';
@import '../typography';

.streaming-field {
    margin-bottom: $margin-step / 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;


    .label {
        margin: 0 $margin-step;
        width: 104px;

        @extend .medium-400-style;
    }

    .ui.input {
        flex: 1 0 auto;
    }
}
