@import '../colors';
@import '../layout';
@import '../typography';

.hidden {
    display: none;
}

.file-input-container {
    border: 1px solid $color-stroke;
    display: "inline-flex";
    border-radius: 2px;
    width: 430px;
    height: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 ($margin-step / 2);

    .ui.button {
        margin-right: $margin-step / 2;
        padding: ($margin-step / 4) ($margin-step / 2);
        border-radius: 2px;
        color: white;
        background-color: $color-action;

        @extend .small-500-style;
    }

    .placeholder {
        @extend .small-400-style;
        color: $color-tertiary;
    }
}

.pochette .file-input-container {
    .ui.button {
        background-color: $pochette-color-link;
    }
}
