.tdb--cadre {
    width: 100%;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.tdb--navigation {
    width: 20%;
    background: #322129;
    height: 100%;
    position: absolute;
    left: 0px;    
    top: 0px;
    bottom: 0px;
}

.tdb--panneau {
    width: 80%;
    background: #ffffff;
    height: 100%;
    position: absolute;
    right: 0px;    
    top: 0px;
    bottom: 0px;
}

.tdb--navigation__logo {
    position: absolute;
    width: 100%;    
    height: 72px;
    left: 0px;    
    top: 0px;
    background: #3F2933;    
}

.tdb--navigation__liens {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    left: 0px;
}

.tdb--navigation__svg {
    left: 0px;
    position: absolute;
    margin-top: 26px;
    margin-left: 32px;
}

.tdb--lien__actif {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.tdb--lien__inactif {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.tdb--entete {
    width: 100%;
    height: 72px;
    right: 0px;    
    top: 0px;
    background: white;
}

.grismauve {
    color: #8DA0B2;
}

.entete--recherche {    
    height: 100%;
    width: 70%;
    position: relative;
    top: 0px;
    float: left;
}

.bouton--profil {
    height: 100%;
    width: 30%;
    position: relative;
    top: 0px;
    float: right;
}