.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.heading1 {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.heading2 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0px 0px 0px 40px;
}

.heading3 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.heading4 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.heading5 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.medium-400 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.medium-500 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 0px 40px;
}

.medium-500 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 0px 40px;
}

.medium-500-tier {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 0px 0px;
}

.medium-500-tier-color {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color:#2DA84F;
}

.medium-500-color {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color:#2DA84F;
}

.medium-500-nomargin {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.illustration {
  text-align: 'center';
  margin-left: 10%;
}

.medium-500-caps {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.small-400 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.small-500 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.small-500-color {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color:#2DA84F;
}

.small-500-caps {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.right {
  float: right;
}

.ui.medium.button {
  background-color:#2DA84F;
  color:#FFF;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  margin: 0px 16px 0px 16px;
}

.ui.primary.right.floated.button,
.ui.right.floated.button {
  background-color:#2DA84F;
  color:#FFF;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  margin: 0px 16px 0px 16px;
}

.ui.small.button {
  background-color:#2DA84F;
  color:#FFF;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px 4px 8px;
  margin: 0px 16px 0px 16px;
}

.label {
  background-color:#FFF;
  color:#203548;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
}

.field-selector {
  background-color:#FFF;
  color:#8DA0B2;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  padding: 18px 18px 18px 40px;
}

.song-name {
  background-color:#FFF;
  color:#203548;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  vertical-align: top;
  display: inline-block;
}

.holder-name {
  color:#203548;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
}

.small-400-color {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color:#8DA0B2;
}

.wizard-title {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color:rgb(140, 153, 144);
}

.who-invented-title {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.conteneur-beignet {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.gray-fields {
  background-color: #FAF8F9;
}

.cliquable {
  cursor: pointer
}

.etape {
  margin-top: 20px
}

.accueil {  
  background-image: url('https://images-publiques.s3.amazonaws.com/smartsplit-home.jpg'); 
}

.accueil-pochette {
  background-image: url('https://images-publiques.s3.amazonaws.com/2ec6dec3-9ff6-408c-a61b-72b1e0c62225.jpeg'); 
}

input[type='radio'] {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  color: #0000ff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.avatar-image {
  margin: 0px 0px 0px 4px;
}

.delete-image {
  margin: 0px 4px 0px 0px;
}

.blank-text {
  display: block;
  background-color:#FFF;
  color:#203548;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 0px;
  line-height: 32px;
}

.ui.checkbox label {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  vertical-align: center;
  margin: 0px 8px 8px 0px;
}

.ui.checkbox input:checked~label:after {
  background-color: #2DA84F;
}

.ui.checkbox {
  color:#FFF;
}

.inline-select {
  display: inline-block;
}