.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.heading1 {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.heading2 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0px 0px 0px 40px;
}

.heading3 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.heading4 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.heading5 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.medium-400 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.medium-500 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 0px 40px;
}

.medium-500-caps {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.small-400 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.small-500 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.small-500-color {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color:#2DA84F;
}

.small-500-caps {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.right {
  float: right;
}

.ui.medium.button {
  background-color:#2DA84F;
  color:#FFF;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  margin: 0px 16px 0px 16px;
}

.ui.small.button {
  background-color:#2DA84F;
  color:#FFF;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px 4px 8px;
  margin: 0px 16px 0px 16px;
}

.label {
  background-color:#FFF;
  color:#203548;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
}

.field-selector {
  background-color:#FFF;
  color:#8DA0B2;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  padding: 18px 18px 18px 40px;
}

.song-name {
  background-color:#FFF;
  color:#203548;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  vertical-align: top;
  display: inline-block;
}

.small-400-color {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color:#8DA0B2;
}
