.beignet-wrapper {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12ZM12.4443 6.7706C12.3585 6.6044 12.1871 6.5 12 6.5C11.813 6.5 11.6416 6.6044 11.5557 6.7706L9.975 9.8319L6.43083 10.3271C6.2398 10.3538 6.08116 10.488 6.02316 10.6719C5.96516 10.8559 6.01813 11.0568 6.1593 11.1882L8.70972 13.5629L8.10887 16.9117C8.07543 17.0981 8.15016 17.2874 8.30192 17.4007C8.45367 17.514 8.6564 17.5318 8.82559 17.4467L12 15.8509L15.1744 17.4467C15.3436 17.5318 15.5464 17.514 15.6981 17.4007C15.8499 17.2874 15.9246 17.0981 15.8912 16.9117L15.2903 13.5629L17.8407 11.1882C17.9819 11.0568 18.0349 10.8559 17.9769 10.6719C17.9189 10.488 17.7602 10.3538 17.5692 10.3271L14.025 9.8319L12.4443 6.7706Z' fill='%238DA0B3' /%3E%3C/svg%3E");
}

div.tooltip {	
    position: absolute;			
    text-align: center;	
    color: white;		
    width: 200px;					
    height: 40px;					
    padding: 2px;				
    font: 16px sans-serif;		
    background: #322129;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}