@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

.sousTitre {
    margin-left: "auto";
}

label.nouvelAuteur {
    font-size: 16px;
    font-weight: bold;
    font-family: "IBM Plex Sans";
} 

.codeiswc::placeholder,
.nouvelleDate::placeholder {
    height: 50px;
}
.nouvelleDate::placeholder {
    color: #8da0b3;
}

.conteneur--ligne--fichier {
    min-height: 50px;
}

.conteneur--ligne--fichier > * {
    padding-left: 13px;
    vertical-align: top;
}

.table-interpretation {
    padding: 15px;
    background-color: #FAF8F9;
}

.table {
    padding: 15px;
}

.ui.search > .icon.input {
    float: none;
    width: 100%;
}

.ui.search > .results {
    top: 80px;
}