@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

.input-container .ui.small.modal .Titre {
  font-family: "IBM Plex Sans";
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  margin: 0 20px 0 80px;
}

::placeholder {
  color: #8da0b3;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8da0b3;
}

.Titre {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

#prompt,
#roles {
  padding: 10px 0 0 0;
}

.ui.search.icon {
  float: left;
}
