
button[id="hide"] {
  margin: 0em;
  width: 50px;
  height: 32px;
  padding: 0;
  color: white;
  background-color: Transparent;
  border: 0;
  -webkit-appearance: none;
}

input[id="username"] {
  padding-right: 50px;
  width: 250px;
}

input[name="password"] {
  padding-right: 50px;
  width: 200px;
}
