@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

.ui.small.modal .input-container {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  line-height: 35px;
  margin: 0 20px 0 80px;
  align-items: center;
}

.Modal.Header.Titre {
  font-size: 18px;
  color: black;
}

.newFirstName::placeholder,
.newLastName::placeholder,
.Email::placeholder,
::placeholder {
  color: #8da0b3;
  opacity: 1;
}

/*IE*/
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8da0b3;
}

#prompt,
#roles {
  height: 30px;
  padding: 10px 0 0 0;
  max-width: 500px !important;
  display: flex;
  flex-flow: wrap;
  height: auto;
}

.ui .search .icon {
  float: left;
}
