@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

.ui.small.modal .input-container {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  line-height: 35px;
  margin: 0 20px 0 80px;
  align-items: center;
}

.Titre {
  font-size: 18px;
  margin-top: 40px;
  color: black;
}

::placeholder {
  color: #8da0b3;
  opacity: 1;
}
/*IE*/
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8da0b3;
}

#prompt,
#roles {
  padding: 10px 0 0 0;
}

.ui .search .icon {
  float: left;
}
