@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* 
.ui.positive.buttons .button:hover {
  background-color: #16ab39;
  color: #fff;
  text-shadow: none;
}

.ui.positive.buttons .button .pochette:hover {
  background-color: #F2724A;
  color: #fff;
  text-shadow: none;
} */
.ui.small.modal .input-container {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 15px;
  width: auto;
  display: inline-block;
  margin: 0 60px 0 60px;
  padding: "0 0 0 15px";
}

div .province,
.date {
  margin: 5px auto 5px 0px;
  font-family: "IBM Plex Sans";
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  position: relative;
  padding: "0 0 0 15px";
}

div .province select option {
  margin-left: 10px;
}

.firstName::placeholder,
.lastName::placeholder,
.middleName::placeholder,
.address::placeholder,
.city::placeholder,
.postalCode::placeholder,
.phone::placeholder,
.email::placeholder,
.verifyEmail::placeholder,
.userId::placeholder,
.password::placeholder,
.verifyPassword::placeholder {
  color: #c6c8ca;
  opacity: 1;
}

/*div .ui .label {
    font-size: 16px;
    color: #2DA84F;
    font-weight: normal;
    background: transparent;
    padding: 10px 0 10px 0;
}*/
